.todo-item{
    display: flex;
    justify-content: space-between;
}
.item{
    color: black;
}
.important{
    color: red;
    font-weight: bold;
}
.label{
    font-size: 40px;
}
.text{
    text-align: center;
}
.button {
    background: lavenderblush;
    border: red  1px wave;

}
.done{
   text-decoration: line-through;
}

@media(min-width: 375px){

    .label{
        font-size: 20px;
    }
}
@media(min-width: 320px){

    .label{
        font-size: 15px;
    }
}