.list{
    list-style-type: none;
}
li div{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
}