.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.text{
    display: flex;
    align-items: center;
    font-family: Roboto serif;
    font-size: small;
}

.important {
    display: flex;
    background: lavenderblush;
    border: red  1px wave;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: auto;
    height: 3em;

}
.box1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: serif;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.done{
    text-decoration: line-through;
}

